<div class="container">
    <div class="row">
        <div class="col-12" style="background-color: rgb(236, 177, 217);">
            <h1>Welcome to Online Booking</h1>
            <p>Book you tickets with us</p>

        </div>
    </div>

        <div class="row">
            <div class="col-6">
                <img src="assets/image/pic1.jpg" class="my_img">
                <img src="assets/image/pic2.jpg" class="my_img">
                <img src="assets/image/pic3.jpg" class="my_img">
                <img src="assets/image/pic4.jpg" class="my_img">
                <img src="assets/image/pic5.jpg" class="my_img">
            </div>


            <div class="col-6">
                <h3>booking now</h3>
                <p>Online Ticket Booking System (OTBS) refers to a system that is able to process tickets for all the events in Airplane Zanzibar. Airplane Zanzibar has been losing many customers due to a poor and booking system for tickets.
                    The citizens and foreign nationals have to look for agents and pay cash in specific areas around the city to purchase the tickets before any event which results to long queues and time wastages.The reason leading to create this project are:
                    • The many people in Zanzibar and other foreign have to the long queues and overcrowding of the theatre entrances by clients who come to purchase tickets to attend events in Airplane. 
                   • It taken great time to find a ticket for transport which peoples have need, because some people haven obtain challenge on the get ticket
                   
                    
                </p>


            </div>
        
    </div>
</div>
