      
                    <p>
                            <label>Name: AirTicket </label>
                            <input type="text" />
                    </p>
                    <p>
                            <label>Email: airticket@gmail.com</label>
                            <input type="text" />
                    </p>
                    <p>
                            <label>Phone:  0773169683 </label>
                            <input type="tel" />
              
                          
                   
                    <p>
                          
                    <p class="wipeout">
                           
                    </p>
       